include README.md
include LICENSE
include pyproject.toml
recursive-include testimonials/templates *
recursive-include testimonials/static *
recursive-include testimonials/locale *
recursive-include testimonials/migrations *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
prune django-package-test
prune tests
exclude .gitignore
exclude .pre-commit-config.yaml
exclude pytest.ini
exclude tox.ini
exclude .coverage
exclude .env*
exclude ruff.toml